.pom {
    text-align: center;
    margin-top: 25px;
}

.bom {
   
    margin-bottom: 45px;
    margin-top: 35px;
}

.doo {
    margin-left: 50px;
    
}


.create {
    text-align: center;
    margin-top: 150px;
}

.update {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 50px;
}

.text {
    text-align: center;
    margin-top: 50px;

}

