{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/list.css')}}">
{% endblock %}


{% block content %}
  <h1 class="pom">図書一覧</h1>
  
  {% for category, message in get_flashed_messages(with_categories=true) %}
  <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
  <div style="text-align:left" class="doo">
    <a class="h5" href="{{url_for('create_book')}}">図書の新規登録</a>
    <div class="bom">
      <p><a class="h5" href="{{url_for('search_book')}}"> 図書の検索</a></p>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
        <tr>
            <th>タイトル</th>
            <th>著者</th>
            <th>出版社</th>
            <th>編集</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr> 
        <td>{{ book[1] }}</td>
        <td>{{ book[2] }}</td>
        <td>{{ book[3] }}</td>
        <td>
            <a href="{{url_for('update_book', book_id=book[0])}}">編集</a>|
            <a href="{{url_for('delete_book', book_id=book[0])}}">削除</a>
        </td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
