{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/register.css')}}">
<title>更新画面</title>
{% endblock %}

{% block content %}
<div class="text">
  <h1 style="margin-bottom:35px">本の編集</h1>
  <h5>変更する内容を入力してください</h5>
</div>
  {% for category, message in get_flashed_messages(with_categories=true) %}
  <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
  <div class="update">
  <form action="{{url_for('update_exe', book_id=book.id)}}" method="post">
    <h4>タイトル：<input type="text"  name="title" value="{{book.title}}"><br></h4>
    <h4>著者：<input type="text" name="author" value="{{book.author}}"><br></h4>
    <h4>出版社：<input type="text" name="publisher" value="{{book.publisher}}"><br></h4>
    <button type="submit" class="btn btn-primary">更新</button>
  </form>
  <h4 style="margin-top:25px"><a href="{{url_for('book_list')}}">戻る</a></h4>
</div>
{% endblock %}
